@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.geojson-label {
  position: absolute;
  z-index: 9999;             
  color: white;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  white-space: nowrap;
  pointer-events: auto !important;
  cursor: pointer;
}

.geojson-label span {
  pointer-events: none; 
}

.geojson-label span.hovered-label {
  font-size: 16px;
  font-weight: bold;
  color: #ff4444;
  text-shadow: 0 0 6px rgba(255,0,0,0.8);
}

.leaflet-marker-pane {
  position: absolute !important;
  top: 0px;
  left: 0px;
}

.leaflet-overlay-pane path {
  pointer-events: auto !important;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.leaflet-container {
  overflow: hidden !important;
  width: 100% !important;
  height: 100% !important;
}

.leaflet-container,
.leaflet-map-pane,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}

.leaflet-zoom-animated {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
}